---
import PageLayout from '../layouts/PageLayout.astro';
---
<PageLayout title="404" description="Page not found." noindex>
  <p>Nothing found :(</p>
  <p><a href="/">look around</a></p>
</PageLayout>
