---
import { defaultAuthor } from '../data/nav';
const author = defaultAuthor; // future: derive from tenant settings
const thisYear = new Date().getUTCFullYear();
---
<footer>
  <div>&copy; {thisYear} {author}</div>
</footer>
